form {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin: 1%;
    padding: 1%;
}

label, .radios, .checks {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 100%
}
  
input:invalid{
    border-color: #900;
}

input[type="submit"] {
    width: 25%;
}
  
.error {
    width: 100%;
    color: white;
    background-color: #900;
}
  
.error.active {
    padding: 0.3%;
}